# Compiled object files
*.slo
*.lo
*.o

# Compiled dynamic libraries
*.so
*.dylib

# Compiled static libraries
*.lai
*.la
*.a

# MacOS trash
.DS_Store

# CMake trash
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake