Source: cocaine-core
Section: utils
Priority: extra
Maintainer: Andrey Sibiryov <kobolog@yandex-team.ru>
Build-Depends: cmake, cdbs, debhelper (>= 7.0.13), libltdl-dev, libmsgpack-dev,
 libmhash-dev, libarchive-dev, uuid-dev, libcgroup-dev, binutils-dev,
 libboost-dev,
 libboost-filesystem-dev,
 libboost-thread-dev,
 libboost-program-options-dev,
 blackhole-dev (>= 1.0.0-0rc1)
Standards-Version: 3.9.3
Vcs-Git: git://github.com/cocaine/cocaine-core.git
Vcs-Browser: https://github.com/cocaine/cocaine-core

Package: libcocaine-core3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cocaine - Core Libraries
 Cocaine core libraries package.

Package: libcocaine-io-util3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cocaine - Util Libraries.
 Cocaine common utility libraries package(HPACK, cocaine errors, tracing support, cocaine protocol encoder)

Package: libcocaine-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core3 (= ${binary:Version}), libcocaine-io-util3 (= ${binary:Version}),
 libltdl-dev, libmsgpack-dev, libboost1.48-dev | libboost-dev,
 blackhole-dev
Description: Cocaine - Development Headers
 Cocaine development headers package.

Package: cocaine-v12-dbg
Architecture: any
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core3 (= ${binary:Version})
Description: Cocaine - Debug Files
 Cocaine debug files and symbols.

Package: cocaine-v12-runtime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core3 (= ${binary:Version}),
 adduser
Conflicts: cocaine-server
Description: Cocaine - Runtime
 Cocaine runtime components package.
