#!/usr/bin/make -f

include /usr/share/cdbs/1/class/cmake.mk
include /usr/share/cdbs/1/rules/debhelper.mk

install/cocaine-runtime::
	install -d $(DEB_DESTDIR)etc/cocaine
	install -m644 debian/cocaine-runtime.conf $(DEB_DESTDIR)etc/cocaine/cocaine-default.conf
	
install/cocaine-tools::
	install -d $(DEB_DESTDIR)usr/bin
	install -m755 scripts/cocaine-info.py $(DEB_DESTDIR)usr/bin/cocaine-info
	install -m755 scripts/cocaine-engine-create.py $(DEB_DESTDIR)usr/bin/cocaine-engine-create
	install -m755 scripts/cocaine-engine-delete.py $(DEB_DESTDIR)usr/bin/cocaine-engine-delete
	install -m755 scripts/cocaine-engine-status.py $(DEB_DESTDIR)usr/bin/cocaine-engine-status
