#!/usr/bin/make -f

include /usr/share/cdbs/1/class/cmake.mk
include /usr/share/cdbs/1/rules/debhelper.mk

install/cocaine-core::
	install -d $(DEB_DESTDIR)etc/syslog-ng/conf-available
	install -m644 syslog-ng/cocained.conf $(DEB_DESTDIR)etc/syslog-ng/conf-available/cocained.conf
	
	install -d $(DEB_DESTDIR)usr/bin
	install -m755 tools/cocaine-info.py $(DEB_DESTDIR)usr/bin/cocaine-info
	install -m755 tools/cocaine-engine-create.py $(DEB_DESTDIR)usr/bin/cocaine-engine-create
	install -m755 tools/cocaine-engine-delete.py $(DEB_DESTDIR)usr/bin/cocaine-engine-delete
